<a href="https://colab.research.google.com/github/vikky75/EDA/blob/main/Mr_Ananad_Anto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
from google.colab import files
uploaded = files.upload()

Saving titanic_dataset.csv to titanic_dataset.csv

In [4]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['titanic_dataset.csv']))

In [6]:
df2.PassengerId.index

RangeIndex(start=0, stop=891, step=1)

In [8]:
df2.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [11]:
df2.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
df2['Age'] = df2['Age'].fillna((df2['Age'].median()))

In [13]:
df2.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [14]:
df2["Cabin"].fillna("NA", inplace = True)

In [15]:
df2["Embarked"].fillna("Unknown", inplace = True)

In [16]:
df2.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [19]:
df2.sort_values("Age", ascending=True)

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
803          804         1       3  ...   8.5167    NA         C
755          756         1       2  ...  14.5000    NA         S
644          645         1       3  ...  19.2583    NA         C
469          470         1       3  ...  19.2583    NA         C
831          832         1       2  ...  18.7500    NA         S
..           ...       ...     ...  ...      ...   ...       ...
116          117         0       3  ...   7.7500    NA         Q
96            97         0       1  ...  34.6542    A5         C
493          494         0       1  ...  49.5042    NA         C
851          852         0       3  ...   7.7750    NA         S
630          631         1       1  ...  30.0000   A23         S

[891 rows x 12 columns]

In [21]:
from scipy import stats
import numpy as np
z = np.abs(stats.zscore(df2.Age))
print(z)

[0.56573646 0.66386103 0.25833709 0.4333115  0.4333115  0.1046374
 1.89345853 2.10273333 0.18148724 1.18053521 1.94903364 2.2008579
 0.71943615 0.74071088 1.18053521 1.97030837 2.10273333 0.1046374
 0.12591213 0.1046374  0.4333115  0.35646166 1.10368536 0.1046374
 1.64163427 0.66386103 0.1046374  0.79628599 0.1046374  0.1046374
 0.81756072 0.1046374  0.1046374  2.81565665 0.1046374  0.97126041
 0.1046374  0.6425863  0.87313583 1.18053521 0.81756072 0.18148724
 0.1046374  2.02588348 0.79628599 0.1046374  0.1046374  0.1046374
 0.1046374  0.87313583 1.71848411 0.6425863  1.50920931 0.02778756
 2.7388068  0.1046374  0.6425863  0.06621248 1.8721838  1.41108474
 0.56573646 0.66386103 1.20180994 1.94903364 0.1046374  0.1046374
 0.02778756 0.79628599 0.94998568 0.25833709 0.20276197 1.02683552
 0.6425863  0.25833709 0.20276197 0.33518693 0.1046374  0.1046374
 2.19264764 0.04906229 0.56573646 0.02778756 0.1046374  0.1046374
 0.94998568 0.27961182 1.02683552 0.1046374  0.48888662 0.41203677
 0.02778756 0.71943615 1.27865978 0.25833709 2.27770774 0.1046374
 3.19990586 0.48888662 0.35646166 0.35646166 0.1046374  0.1046374
 0.6425863  0.27961182 0.58701119 0.1046374  0.6425863  0.1046374
 0.66386103 0.1046374  1.35550962 1.14211029 0.56573646 0.71943615
 0.94998568 0.6425863  3.16148094 0.02778756 0.41203677 2.10273333
 0.6425863  0.1046374  0.24118689 0.24118689 1.89345853 1.33423489
 0.1046374  0.41203677 0.1046374  1.20180994 0.27961182 0.71943615
 1.35550962 0.02778756 0.33518693 0.48888662 0.79628599 0.58701119
 1.02683552 0.41203677 0.1046374  0.56573646 0.41203677 0.79628599
 0.87313583 0.79628599 0.18148724 1.56478442 0.54858627 0.97126041
 1.662909   0.56573646 2.00873329 0.85598564 0.1046374  1.662909
 1.02683552 0.04906229 0.1046374  0.1046374  1.12496009 0.81756072
 0.25833709 0.94998568 2.17958317 1.56478442 0.1046374  1.20180994
 0.1046374  0.1046374  2.43140743 1.94903364 2.17958317 0.6425863
 2.04715821 0.87313583 0.1046374  1.58605915 0.04906229 0.51016135
 0.1046374  0.1046374  1.56478442 2.17958317 1.94903364 0.1046374
 0.1046374  1.20180994 0.81756072 0.51016135 0.20276197 0.79628599
 0.79628599 2.02588348 1.12496009 2.2008579  0.1046374  0.97126041
 0.1046374  0.41203677 0.1046374  0.1046374  0.35646166 1.24023486
 0.87313583 2.10273333 0.20276197 0.25833709 1.02683552 0.81756072
 0.41203677 0.4333115  0.56573646 0.04906229 0.1046374  0.12591213
 0.18148724 0.97126041 0.20276197 0.04906229 1.02683552 0.18148724
 1.662909   0.1046374  0.66386103 0.56573646 0.79628599 0.68101123
 0.87313583 0.1046374  0.4333115  0.02778756 2.27770774 1.8721838
 0.41203677 0.1046374  1.12496009 1.64163427 0.79628599 0.27961182
 0.1046374  0.1046374  0.02778756 0.56573646 0.04906229 1.12496009
 0.33518693 0.41203677 0.58701119 1.89345853 0.1046374  0.02778756
 2.50825727 0.04906229 0.89441056 0.02778756 0.1046374  0.04906229
 0.4333115  1.58605915 0.1046374  2.02588348 1.73975884 0.81756072
 0.1046374  0.51016135 1.02683552 0.33518693 2.2008579  0.4333115
 0.1046374  0.33518693 0.89441056 0.58701119 0.1046374  2.58510712
 1.20180994 0.1046374  1.71848411 0.4333115  2.7388068  0.1046374
 1.02683552 0.79628599 0.1046374  0.27961182 0.04906229 0.56573646
 0.97126041 0.56573646 0.25833709 0.79628599 0.51016135 0.41203677
 0.41203677 0.1046374  0.4504617  2.10273333 0.1046374  1.58605915
 0.1046374  0.1046374  0.79628599 0.1046374  0.1046374  2.18573116
 0.1046374  0.94998568 0.04906229 0.04906229 0.41203677 0.87313583
 0.25833709 0.1046374  1.04811025 0.25833709 0.41203677 1.89345853
 0.12591213 0.81756072 0.56573646 0.18148724 0.04906229 0.56573646
 0.1046374  0.51016135 2.43140743 0.51016135 0.12591213 1.02683552
 0.1046374  1.24023486 0.66386103 1.02683552 0.1046374  0.1046374
 0.02778756 0.89441056 1.20180994 1.20180994 2.10273333 0.41203677
 0.1046374  0.33518693 0.51016135 0.41203677 0.81756072 0.1046374
 2.02588348 0.97126041 0.48888662 0.1046374  1.10368536 0.33518693
 0.1046374  0.1046374  0.56573646 0.66386103 0.1046374  0.1046374
 0.81756072 0.02778756 1.20180994 0.4333115  0.1046374  0.04906229
 2.35455759 0.1046374  0.1046374  0.41203677 0.33518693 0.87313583
 0.79628599 0.56573646 2.02588348 0.1046374  0.56573646 0.18148724
 0.71943615 0.79628599 0.97126041 2.17958317 0.20276197 0.4333115
 0.1046374  0.87313583 2.17958317 0.51016135 0.1046374  0.94998568
 0.51016135 0.6425863  0.1046374  0.48888662 0.41203677 0.56573646
 0.12591213 1.27865978 0.48888662 0.1046374  0.74071088 0.25833709
 0.6425863  0.1046374  0.71943615 0.35646166 1.662909   2.02588348
 0.6425863  0.1046374  0.1046374  0.1046374  0.27961182 0.1046374
 1.12496009 0.1046374  0.35646166 0.87313583 0.04906229 1.48793458
 0.1046374  0.6425863  0.02778756 0.1046374  0.87313583 0.1046374
 0.1046374  0.79628599 0.1046374  0.20276197 0.1046374  0.1046374
 0.97126041 0.94998568 1.58605915 1.18053521 0.6425863  0.41203677
 2.66195696 0.12591213 1.20180994 0.71943615 0.33518693 0.1046374
 0.1046374  1.94903364 1.25738505 0.35646166 1.8721838  1.73975884
 0.51016135 0.1046374  0.04906229 1.50920931 0.1046374  0.02778756
 2.7388068  0.1046374  1.58605915 0.1046374  1.43235947 0.35646166
 1.35550962 1.43235947 0.1046374  0.66386103 0.1046374  2.04715821
 0.1046374  2.19879563 0.1046374  0.66386103 0.27961182 0.48888662
 0.56573646 0.1046374  0.35646166 0.02778756 0.56573646 2.10273333
 1.56478442 0.1046374  1.58605915 2.58510712 0.33518693 0.1046374
 0.4333115  2.2008579  0.04906229 1.56478442 0.1046374  0.6425863
 1.97030837 3.19990586 0.6425863  0.1046374  1.89345853 0.1046374
 0.33518693 0.41203677 0.94998568 0.6425863  0.1046374  0.58701119
 1.02683552 0.87313583 0.27961182 0.1046374  0.1046374  0.25833709
 0.02778756 0.1046374  0.51016135 1.89345853 0.41203677 1.35550962
 0.35646166 0.1046374  0.51016135 0.20276197 0.04906229 0.56573646
 0.1046374  1.12496009 0.1046374  0.85598564 1.58605915 0.1046374
 0.74071088 0.48888662 2.10273333 0.1046374  0.94998568 0.1046374
 0.04906229 1.71848411 1.20180994 0.04906229 0.1046374  0.56573646
 0.51016135 1.56478442 1.41108474 0.20276197 1.58605915 2.66195696
 0.79628599 0.1046374  0.27961182 1.64163427 0.94998568 0.18148724
 0.1046374  0.56573646 0.56573646 2.50825727 1.43235947 0.1046374
 0.74071088 0.51016135 0.1046374  0.81756072 0.1046374  0.1046374
 0.1046374  0.41203677 0.79628599 0.02778756 0.1046374  0.20276197
 2.50825727 1.81660868 0.51016135 0.1046374  1.02683552 0.79628599
 0.35646166 0.74071088 0.1046374  0.20276197 0.33518693 0.74071088
 1.89345853 0.51016135 0.1046374  0.87313583 1.35550962 2.35455759
 0.56573646 0.1046374  0.4333115  1.73975884 1.35550962 0.1046374
 0.58701119 0.51016135 0.1046374  1.50920931 0.1046374  1.50920931
 0.41203677 0.1046374  0.1046374  1.12496009 0.4333115  0.51016135
 0.04906229 0.18148724 0.56573646 0.81756072 0.74071088 0.1046374
 0.1046374  0.1046374  0.4333115  0.41203677 0.35646166 0.25833709
 1.94903364 0.25833709 0.18148724 0.97126041 0.71943615 0.6425863
 0.6425863  2.43140743 2.12400806 0.6425863  0.25833709 0.1046374
 3.89155445 1.662909   0.20276197 0.1046374  1.56478442 0.1046374
 0.20276197 0.12591213 0.89441056 0.1046374  0.71943615 0.41203677
 2.10273333 0.1046374  2.19879563 1.43235947 0.79628599 2.04715821
 0.1046374  0.48888662 0.1046374  0.87313583 0.6425863  0.1046374
 0.87313583 0.41203677 0.1046374  0.20276197 0.48888662 2.2008579
 1.58605915 0.81756072 1.35550962 0.51016135 0.71943615 0.20276197
 0.33518693 0.1046374  1.04811025 0.1046374  0.81756072 0.12591213
 3.12305602 0.12591213 0.1046374  0.87313583 0.37361185 0.87313583
 1.04811025 0.51016135 0.1046374  0.18148724 0.71943615 1.18053521
 2.35455759 0.33518693 1.18053521 0.79628599 0.87313583 1.10368536
 0.12591213 1.94903364 0.1046374  0.33518693 2.35455759 1.73975884
 1.12496009 0.1046374  1.50920931 0.97126041 0.87313583 0.4333115
 0.87313583 0.33518693 0.25833709 0.74071088 1.20180994 0.97126041
 0.56573646 0.1046374  0.41203677 0.1046374  1.43235947 0.02778756
 1.73975884 0.79628599 0.66386103 0.18148724 0.1046374  0.27961182
 1.79533395 0.94998568 0.35646166 1.58605915 0.18148724 0.71943615
 0.04906229 0.1046374  0.33518693 0.33518693 0.02778756 1.41108474
 0.1046374  0.48888662 0.48888662 0.06621248 1.43235947 0.4333115
 0.1046374  0.1046374  0.1046374  0.51016135 0.6425863  0.41203677
 0.12591213 3.12305602 1.02683552 0.04906229 0.79628599 0.12591213
 1.94903364 1.79533395 0.27961182 0.48888662 1.43235947 2.20494362
 0.1046374  0.87313583 0.35646166 0.27961182 0.1046374  0.89441056
 0.71943615 0.51016135 1.02683552 1.662909   0.1046374  0.08748721
 0.1046374  0.20276197 0.41203677 1.43235947 2.12400806 0.1046374
 1.89345853 0.87313583 0.1046374  1.8721838  0.1046374  1.04811025
 1.25738505 0.94998568 0.02778756 0.1046374  0.33518693 0.33518693
 0.87313583 1.64163427 2.17958317 1.27865978 0.1046374  1.02683552
 0.1046374  0.1046374  0.33518693 0.74071088 1.50920931 0.12591213
 0.04906229 0.04906229 0.35646166 0.12591213 1.41108474 2.22415608
 0.18148724 0.12591213 0.74071088 0.87313583 0.74071088 0.27961182
 0.25833709 0.74071088 0.4333115  1.79533395 0.08748721 0.1046374
 0.48888662 0.12591213 1.04811025 1.48793458 1.73975884 0.18148724
 0.66386103 0.18148724 2.10273333 0.1046374  0.1046374  2.17958317
 0.1046374  2.50825727 1.10368536 2.19264764 0.1046374  0.48888662
 0.87313583 0.74071088 0.6425863  0.1046374  0.20276197 0.1046374
 0.71943615 1.02683552 0.04906229 0.39488658 0.94998568 0.97126041
 0.1046374  0.4333115  0.1046374  0.1046374  1.94903364 3.43045539
 1.56478442 1.02683552 1.12496009 0.87313583 1.20180994 1.662909
 0.41203677 0.1046374  0.89441056 0.6425863  1.43235947 0.1046374
 0.41203677 0.97126041 0.18148724 0.12591213 0.1046374  1.94903364
 0.25833709 1.35550962 0.27961182 1.35550962 0.1046374  1.10368536
 0.71943615 0.79628599 0.1046374  2.04715821 0.33518693 0.27961182
 0.56573646 0.1046374  0.33518693 0.74071088 0.18148724 0.79628599
 0.1046374  0.25833709 0.20276197]

In [22]:
Q1 = df2.quantile(0.25)
Q3 = df2.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

PassengerId    445.0000
Survived         1.0000
Pclass           1.0000
Age             13.0000
SibSp            1.0000
Parch            0.0000
Fare            23.0896
dtype: float64

In [24]:
print(df2 < (Q1 - 1.5 * IQR)) |(df2 > (Q3 + 1.5 * IQR))

       Age  Cabin  Embarked   Fare  ...    Sex  SibSp  Survived  Ticket
0    False  False     False  False  ...  False  False     False   False
1    False  False     False  False  ...  False  False     False   False
2    False  False     False  False  ...  False  False     False   False
3    False  False     False  False  ...  False  False     False   False
4    False  False     False  False  ...  False  False     False   False
..     ...    ...       ...    ...  ...    ...    ...       ...     ...
886  False  False     False  False  ...  False  False     False   False
887  False  False     False  False  ...  False  False     False   False
888  False  False     False  False  ...  False  False     False   False
889  False  False     False  False  ...  False  False     False   False
890  False  False     False  False  ...  False  False     False   False

[891 rows x 12 columns]

TypeError: ignored

In [31]:
titanic_df_out = df2[~((df2 < (Q1 - 1.5 * IQR)) |(df2 > (Q3 + 1.5 * IQR))).any(axis=1)]
titanic_df_out.shape

(577, 12)

In [36]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

standard_scale = StandardScaler()
df_stdScale = standard_scale.fit_transform(df2[['Survived']])
df_stdScale[:10]

array([[-0.78927234],
       [ 1.2669898 ],
       [ 1.2669898 ],
       [ 1.2669898 ],
       [-0.78927234],
       [-0.78927234],
       [-0.78927234],
       [-0.78927234],
       [ 1.2669898 ],
       [ 1.2669898 ]])

In [37]:
minmax_scale = MinMaxScaler()
df_minmax = minmax_scale.fit_transform(df2[['Survived']])
df_minmax[:10]

array([[0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.]])

In [39]:
print(f"The mean of Standard Scaling: {np.mean(df_stdScale):.2f}")
print(f"The Standard Deviation of Standard Scaling: {np.std(df_stdScale):.2f}")

The mean of Standard Scaling: 0.00
The Standard Deviation of Standard Scaling: 1.00

In [40]:
print(f"The min of Min-Max Scaling: {df_minmax.min():.2f}")
print(f"The max of Min-Max Scaling: {df_minmax.max():.2f}")
print(f"The mean of Min-Max Scaling: {np.mean(df_minmax):.2f}")
print(f"The Standard Deviation of Min-Max Scaling: {np.std(df_minmax):.2f}")

The min of Min-Max Scaling: 0.00
The max of Min-Max Scaling: 1.00
The mean of Min-Max Scaling: 0.38
The Standard Deviation of Min-Max Scaling: 0.49